*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    height: 100%;
}

:root{
    --primary-color: #00CACA;
}

a{
    text-decoration: none;
    transition: color 0.2s;
    color: black;
    margin: 0 20px;
}

a:hover{
    color: var(--primary-color);
}

.navbar{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightblue;
}

.logo{
    width: 40px;
}

.left{
    margin-left: 30px;
}

.right{
    margin-right: 30px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100% - 80px);
    margin: 0 100px;
    padding-right: 50px;
    position: relative;
}

.signup{
    width: 45%;
}

.formDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 85%;
    margin-bottom: 60px;
}

h2{
    text-align: center;
    margin: 10px;
    font-weight: 400;
}

.divider{
    height: 90%;
    width: 1px;
    background-color: black;
    transform: rotateZ(10deg);
}
