* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
}

:root {
  --primary-color: #00caca;
  --secondary-color: #00f5f5;
}

a {
  text-decoration: none;
  transition: color 0.2s;
  color: black;
  margin: 0 10px;
  padding: 10px;
}

a:hover {
  color: var(--primary-color);
}

.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: lightblue; */
}

.logo {
  width: 40px;
}

.left {
  margin-left: 30px;
}

.right {
  margin-right: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 80px);
  margin: 0 100px;
  padding-right: 50px;
  position: relative;
}

.signup {
  width: 45%;
  max-height: 65%;
}

.formDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: calc(100% - 10px);
  margin-top: 10px;
}

.form-heading{
    display: inline-block;
    margin: 0 40px;
}

.form a{
    padding: 0;
}

.heading-signup{
    position: relative;
    cursor: pointer;
}

.heading-signup::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.heading-main::after{
    height: 3px;
    background-color: var(--primary-color);
}

.heading-secondary::after{
    height: 1px;
    background-color: black;
}

.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 85%;
  margin-bottom: 60px;
}

h2 {
  text-align: center;
  margin: 10px;
  font-weight: 400;
}

.divider {
  height: 90%;
  width: 1px;
  background-color: black;
  transform: rotate(10deg) translateY(-50px);
  transform-origin: -50px;
}

.txt {
  width: 100%;
  border: none;
  border-bottom: solid black 1px;
  height: 40px;
  font-size: 15px;
}

.txt:focus-visible {
  outline: none;
}

.select {
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 15px;
  color: rgb(59, 59, 59);
  background-color: white;
}

.btn{
    padding: 13px;
    width: 40%;
    min-width: 100px;
    max-height: 150px;
    background-color: white;
    border: solid var(--primary-color) 2px;
    border-radius: 20px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    letter-spacing: 1px;
}

.btn:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
}

.btn:active{
    background-color: var(--secondary-color);
}


/* Animations */
#box1, #box3, #hollowCircle, #box5, #box4, #redCircle, #boxCircle{
    transform-origin: center;
    transform-box: fill-box;
}

#box1{
    animation: move 4s linear infinite;
}

#box3{
    animation: up-down 5s linear infinite;
}

#hollowCircle{
    animation: up-down 2s linear infinite;
}

#box5, #boxCircle{
    animation: left-right 3s linear infinite;
}

#box4{
    animation: rotates 3s linear infinite;
}

#redCircle{
    animation: left-right-flower 4s linear infinite;
    transform-origin: 36px 36px;
}

@keyframes left-right-flower {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes rotates {
    from{
        transform: rotate(0deg);
    }   
    to{
        transform: rotate(360deg);
    }
}

@keyframes left-right {
    0%{
        transform: translateX(0px);
    }

    50%{
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes up-down {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes move{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/* Responsiveness */
@media (max-width: 1100px){
    .signup{
        width: 60%;
    }
}

@media (max-width: 880px){
    .signup{
        width: 65%;
    }

    .divider{
        display: none;
    }
}

@media (max-width: 700px){
    .container{
        flex-direction: column;
        margin: 0px;
        padding: 0;
        height: auto;
    }
    .divider{
        display: none;
    }
    .signup{
        width: 90%;
        height: 25%;
    }
    .formDiv{
        width: 90%;
    }
    .left{
        margin-left: 15px;
    }
    .right{
        margin: 0;
    }
    a{
        padding: 0px;
    }
    .btn{
        margin-top: 50px;
    }
    .txt, .select{
        margin: 15px 0px;
    }
}

.error{
    color: red;
}